
body{
    background-color: hsl(212, 45%, 89%);
}

.qr-image{
    margin: 2px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.card{

    font-family: 'Outfit', sans-serif;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.card-title{
    font-weight: 700;
    font-size: 20px;
}
.card-text{
    font-weight: 400;
    font-size: 15px;
    color:hsl(220, 15%, 55%);
}
.box{
    display: flex;
    align-items: center;
    margin: 80px auto;
}

.attribution { 
    font-size: 11px;
    text-align: center;
        }

.attribution a { 
    color: hsl(228, 45%, 44%);
 }